html,
body {
  min-width: 1280px;
  min-height: 2762px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #333333;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;

}

.main-header {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.main-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 76px;
  background-color: transparent;
}

.site-navigation {
  margin: 0;
  padding: 0;
  width: 1056px;
}

.welcome {
  padding-top: 61px;
  padding-left: 370px;
  padding-right: 370px;
  padding-bottom: 79px;
  margin-bottom: 60px;
}

.info {
  margin: 0;
  padding: 0;
  display: flex;
  width: 1200px;
}

.gallery {
  width: 400px;
  min-height: 256px;
  order: 2;
  margin: 0;
  padding: 0;
}

.service {
  margin-bottom: 40px;
}

.service-list,
.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.service-item {
  padding-top: 160px;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 0;
  width: 305px;
  text-align: center;
}

.advantages {
  margin-bottom: 55px;
}

.advantages-item {
  padding-top: 45px;
  padding-left: 42px;
  padding-right: 52px;
  padding-bottom: 40px;
  width: 270px;
  text-align: center;
}

.found-hotels {
  text-align: center;
}

.found-hotels p {
  margin-bottom: 45px;
}

.main-footer {
  padding: 50px;
}

.main-footer .container {
  display: flex;
}

.hashtag {
  margin: 0;
  width: 140px;
  margin-right: 256px;
}

.footer-social {
  margin: 0;
  width: 150px;
}

.footer-copyright {
  margin: 0;
  width: 240px;
  margin-left: auto;
}

.filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.sort {
  display: flex;
  padding-left: 70px;
  margin-bottom: 50px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
}

.sort-item {
  padding-top: 12px;
  padding-left: 35px;
}

.foun-items {
  display: flex;
}

.item {
  margin-left: 70px;
  margin-bottom: 61px;
}

.name {
  margin-left: 30px;
}

.found-info {
  display: inline-block;
}

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.site-navigation,
.service-list,
.advantages-list,
.social,
.filter-option,
.sort-list {
  list-style: none;
}

.general {
  background-color: #ffffff;
}

.container {
  background-color: #fefefe;
}

.site-navigation a {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.sort p,
.name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-navigation a:hover,
.name:hover {
  color: #81b3d2;
}

.site-navigation a:focus,
.name:focus {
  color: #766357;
}

.welcome {
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/*.welcome::after {
  background-image: url("../img/polygon.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
}*/

.intro {
  text-align: center;
}

.intro h1 {
  margin-bottom: 30px;
}

.intro p {
  margin-bottom: 55px;
}

.container h3,
.hashtag a {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.info-text h3 {
  color: #ffffff;
}

.info-text {
  padding-top: 25px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 30px;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
}

.service-item p{
  color: #333333;
}

.advantages {
  background-color: #eeeeee;
}

.service-item h3,
.advantages-item h3 {
  line-height: 21px;
  font-size: 21px;
  font-weight: 700;
}

.btn {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.booking {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.btn:hover,
.booking:hover {
  color: #ffffff;
  background-color: #604e43;
}

.btn:focus,
.booking:focus {
  color: #8b827c;
  background-color: #503e33;
}

.top {
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}

.main-footer {
  background-color: #f9fbf6;
}

.footer-social a,
.button-found,
.detail {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-social a:hover,
.button-found:hover,
.detail:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.footer-social a:focus,
.button-found:focus,
.detail:focus {
  color: #85b0cd;
  background-color: #5496bd;
}

.found-form {
  font-weight: 700;
  color: #000000;
}

.found-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.filter fieldset,
.price fieldset{
  border: none;
}

.filters {
  background-image: url("../img/filter background.jpg");
  background-repeat: no-repeat;
}

.filter legend,
.price legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-option label {
  font-size: 14px;
}

.sort-list li,
.sort-found p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-item a {
  text-decoration: underline;
  text-decoration-color: #81b3d2;
  text-decoration-style: dotted;
  color: #d2d2d2;
}

.sort-item a:first-of-type {
  text-decoration-style: none;
}

.sort-item a:hover {
  color: #81b3d2;
}

.sort-item a:focus {
  color: #000000;
  text-decoration: none;
}
